{% extends "base.html" %}
{% block title %}{{ paciente.nombres }} {{ paciente.apellidos }}{% endblock %}
{% block content %}
    <h1>{{ paciente.nombres }} {{ paciente.apellidos }}</h1>
    <p><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ paciente.fecha_nacimiento }}</p>
    <a href="{{ url_for('sistema.editar_paciente', paciente_dni=paciente.paciente_dni) }}" class="btn btn-warning">Editar datos</a>
    <a href="{{ url_for('historia.contraindicaciones', historia_id=historia.historia_id) }}" class="btn btn-secondary">Contraindicaciones Médicas</a>
    <a href="{{ url_for('historia.subir_examen', historia_id=historia.historia_id) }}" class="btn btn-primary">Exámenes Auxiliares</a>
    <a href="{{ url_for('sistema.examenes_estomatologicos', paciente_dni=paciente.paciente_dni) }}" class="btn btn-warning">Exámenes clínicos estomatológicos</a>
    <a href="{{ url_for('historia.paciente_novedades', paciente_dni=paciente.paciente_dni) }}" class="btn btn-info">Novedades</a>
    <a class="btn btn-secondary" href="/">Volver</a>
{% endblock %}