{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <form class="row g-3" action="/" method="post">
    <!-- Cuando se crea a mano el formulario se usa lo siguiente -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="col">
        <select class="form-select" name="historia_id">
        {% for paciente in pacientes %}
            <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col">
        <input type="submit" value="Cargar paciente" class="btn btn-primary"/>
        <a class="btn btn-primary" href="/registrar">Registrar nuevo paciente</a>
    </div>
    </form>
{% endblock %}